@import "src/assets/mixins";


.container {
  position: absolute;
  width: 100%;
  top: 1000px;
  max-width: 4068px;
  margin-top: 20px;
  height: 1965px;
  overflow: hidden;
  z-index: 99;
  pointer-events: none;

  @include sm {
    top: 480px;
    height: 1726px;
  }
}
@media screen and (max-width: 1024px) {
 .container{
   z-index: 1;
  }
}

.img{
  width: 100%;

}

.wrapper {
  position: relative;
  width: 200%;
  justify-content: space-around;
  display: flex;
  height: 104%;
  animation: scroll 60s linear forwards infinite;
  padding-bottom: 60px;
  img{
  object-fit: inherit;
  }



  @include xs {
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    animation: none;
  }
}

@keyframes scroll {
  from {
      left: -10px;

    }

    to {
    left: 2010px
    }
}
