@import "src/assets/mixins";


.container {
  position: absolute;
  width: 100%;
  top: 32%;
  max-width: 4060px;
  margin-top: 20px;
  height: 1900px;
  overflow: hidden;
  z-index: 0;

  @include md {
    top: 20%;
    height: 2600px;
  }
  @include sm {
    height: 2200px;
  }
  @include xs {
    top: 480px;
    height: 1400px;
  }
}


.wrapper {
  position: relative;
  width: 200%;
  height: 100%;
  justify-content: space-around;
  display: flex;
  animation: scrollSecond 120s linear forwards infinite;
  z-index: 22;

  img {
    object-fit: inherit;
  }

}

.img {
  width: 100%;

}

@keyframes scrollSecond {
  from {
    left: -99px;
  }

  to {
    left: 1000px;
  }

}
